
<div class="article-day text-center">
  {{moment createdAt format='D'}}
</div>
<div class="article-weekday text-center">
  <span class="visible-xs">
    {{moment createdAt format='MMM'}}
  </span>
  <span class="hidden-xs">
    {{moment createdAt format='MMMM'}}
  </span>
</div>
