<div class="panel-heading">
  <h4 class='text-center'>Edit article</h4>
</div>

{{partial 'article/form'}}

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button {{action delete}} class="btn btn-warning ">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
    <div class="pull-right">
      <button {{action cancel}} class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span>
      </button>
      <button {{action save}} class="btn btn-primary">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </div>
  </div>
</div>

<div class="clearfix"></div>
