<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">fews</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      {{#if controller.session.isAuthenticated}}
      {{render 'profile'}}
      {{else}}
      {{render 'signin'}}
      {{/if}}
    </ul>

  </div>
</div>

<div class="container">
  {{outlet}}
</div>
