<a data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{session.currentUser.nickname}} 
  <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li role="presentation">
  {{#linkTo 'user' session.currentUser}}
    My few articles 
    <span class="badge pull-right">{{session.currentUser.articles.length}}</span>
  {{/linkTo}}
  {{#linkTo 'articles.new'}}
    Create article
  {{/linkTo}}
  </li>

  <li role="presentation" class="divider"></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" {{action signout}} href="#">
    Sign out 
    <span class="pull-right glyphicon glyphicon-log-out text-muted"></span>
  </a>
  </li>
</ul>
