<a data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{session.currentUser.nickname}} 
  <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My articles <span class="badge pull-right">42</span></a></li>

  <li role="presentation" class="divider"></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" {{action signout}} href="#">Sign out</a></li>
</ul>
