@import 'bootstrap';
@import 'compass';

body{
  padding-top: 50px;
  background: image-url('newspaper.jpg') fixed;
  background-size: cover;
}

.container{
  max-width: 700px;
}

.navbar-brand{
  font-size: 44px;
  font-weight: 200;
  text-transform: uppercase;
  a, a:hover{
    color: #fff;
    text-decoration: none;
  }


  .invert{
    color:#2fa4e7;
    background: #fff;
    padding: 0 4px;
    margin: 0 2px;
  }
}

.article-day{
  font-size: 30px;
  font-weight: 200;
}


.article-weekday{
  font-size: 12px;
  text-transform: uppercase;

}

.content-panel{
  @include border-radius(4px);
  @include box-shadow(0 0 8px);
  padding: 20px 10px 30px 10px;
  margin: 14px 0;
  background: #fff;
  position: relative;

  .panel-heading{
    margin: -20px -10px 10px -10px;
    padding: 10px;
  }
}

.dropdown-menu{
  min-width: 200px;

  .badge{
    background: #2FA4EB;
  }

  :hover > .badge{
    background: #fff;
    color: #2FA4EB;
  }

}

.navbar .dropdown-menu{
  :hover > .glyphicon{
    color: #fff;
  }

  .glyphicon{
    color: #2FA4EB;
  }
}

.dropdown-form{
  min-width: 250px ;
  padding: 20px;

}

.jumbotron{
  margin-top: 30px;
}
