@import 'bootstrap';

body{
  padding-top: 50px;
}

.container{
  max-width: 700px;
}

.navbar-brand{
  font-size: 44px;
  font-weight: 200;
  text-transform: uppercase;
}

.article-day{
  font-size: 30px;
  font-weight: 200;
}


.article-weekday{
  font-size: 12px;
  text-transform: uppercase;

}
.article-action{
  margin-top: 20px;
}


.dropdown-menu{
  min-width: 200px;

  .badge{
    background: #2FA4EB;
  }

  :hover > .badge{
    background: #fff;
    color: #2FA4EB;
  }

}

.navbar .dropdown-menu{
  :hover > .glyphicon{
    color: #fff;
  }

  .glyphicon{
    color: #2FA4EB;
  }
}

.dropdown-form{
  min-width: 250px ;
  padding: 20px;

}

.jumbotron{
  margin-top: 30px;
}
